body {
    font-size: 25px;
}

div {
    float: right;
}

.display{
    width: 400px;
    height: 50px;
    border: 2px solid black;
}
.one {
    width: 50px;
    height: 50px;
    background-color: yellow;
    
}

.two {
    width: 50px;
    height: 50px;
    background-color: blue;
    
}

.three {
    width: 50px;
    height: 50px;
    background-color: green;
   
}

.decimal {
    width: 50px;
    height: 50px;
    background-color: yellow;
    
}

#multiply {
    width: 50px;
    height: 50px;
    background-color: purple; 
}

#minus {
    width: 50px;
    height: 50px;
    background-color: green; 
}

#add {
    width: 50px;
    height: 50px;
    background-color: rgb(4, 228, 221); 
}

.equals-btn {
    width: 50px;
    height: 50px;
    background-color: orangered;
}



.clear-btn {
    width: 50px;
    height: 50px;
    background-color: gray;
}